<%= form_for (@job) do |f| %>
  <div class="field">
    <%= f.label :data %>
    <%= f.text_area :data %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
 <%= f.submit "Submit", :disable_with => 'Submitting...' %>
<% end %>
